<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body class="">
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div class="main-content">
        <div class="container py-3">
          <h1 class="text-center h3">About</h1>
          <br />
          <h1 class="h5">Profil</h1>
          <p>
            Lorem ipsum dolor sit amet. Sit ipsum voluptate quo excepturi molestiae aut doloribus
            accusantium. Eos nostrum necessitatibus aut cumque minima et dolorem sunt et saepe quia
            qui voluptate quisquam non laborum dolorum et aperiam odio. Et quia ipsum in rerum
            molestiae ut fugiat alias ut quia dicta ut omnis rerum qui galisum galisum eos
            consequatur quos! Aut facilis exercitationem non nihil placeat et laborum magnam vel
            itaque molestiae quo velit velit et consectetur quod.
          </p>
          <p>
            Est dolorum officiis qui nihil architecto ad obcaecati dolorum in quia aperiam ex facere
            quos non ipsam aspernatur est quia libero. Eos quis doloribus ut error maiores est nemo
            quia vel aliquid accusamus sed quos consectetur ut velit enim. Non assumenda
            consequuntur quo totam velit aut neque dolorem 33 culpa quibusdam cum alias ullam.
          </p>
          <p>
            Et dolores repellat sed adipisci excepturi aut consequatur odit. Est quia vitae ex rerum
            soluta eos debitis omnis non officia molestias quo optio praesentium.
          </p>

          <p>
            Lorem ipsum dolor sit amet. Sit ipsum voluptate quo excepturi molestiae aut doloribus
            accusantium. Eos nostrum necessitatibus aut cumque minima et dolorem sunt et saepe quia
            qui voluptate quisquam non laborum dolorum et aperiam odio. Et quia ipsum in rerum
            molestiae ut fugiat alias ut quia dicta ut omnis rerum qui galisum galisum eos
            consequatur quos! Aut facilis exercitationem non nihil placeat et laborum magnam vel
            itaque molestiae quo velit velit et consectetur quod.
          </p>
          <p>
            Est dolorum officiis qui nihil architecto ad obcaecati dolorum in quia aperiam ex facere
            quos non ipsam aspernatur est quia libero. Eos quis doloribus ut error maiores est nemo
            quia vel aliquid accusamus sed quos consectetur ut velit enim. Non assumenda
            consequuntur quo totam velit aut neque dolorem 33 culpa quibusdam cum alias ullam.
          </p>
          <p>
            Et dolores repellat sed adipisci excepturi aut consequatur odit. Est quia vitae ex rerum
            soluta eos debitis omnis non officia molestias quo optio praesentium.
          </p>

          <p>
            Lorem ipsum dolor sit amet. Et sunt recusandae ut ipsa tempora ut sapiente reiciendis ut
            natus beatae aut ipsam itaque! Et harum eligendi ut tenetur excepturi cum voluptatem
            explicabo! Sed molestiae aliquam aut quod veniam sit fugit vitae eum atque voluptatum?
          </p>

          <p>
            Sit omnis explicabo sit officia vero aut quam vero ea voluptas neque. Qui tempore
            assumenda sit consequatur culpa id accusantium modi! Non distinctio aliquam id natus
            dicta qui libero dolorem sit assumenda corrupti est nemo dolorem a saepe sint. Qui
            delectus dolor et eveniet dolores rem voluptatem molestiae qui voluptatem molestiae est
            error eius?
          </p>

          <p>
            Qui deserunt odio ad sapiente molestiae eos delectus molestias. Aut ipsa iste eos
            aliquam consequatur id optio laudantium aut voluptatibus eius et mollitia dolorum. Non
            nostrum laborum et dicta numquam quo aliquid accusamus ut tenetur reiciendis aut error
            nihil ab internos doloremque et dolorem delectus.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
