<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body class="">
    <main>
      <div class="min-vh-100 d-flex flex-column gradient-custom">
        <div class="m-auto container py-5">
          <h1 class="text-center h1">Not Found</h1>
          <h2 class="text-center h2">404</h2>
        </div>
      </div>
    </main>
  </body>
</html>
